/* You can include your custom styling here */

/*@media(max-width:767px){
}

@media(min-width:768px){
}

@media(min-width:992px){
}

@media(min-width:1200px){
}*/

a {
  color: #ef4423;
}

body {
  color: #4e5860;
  font-family: sans-serif;
}

.sidebar {
  background-color: white;
}

.wrapping {
  background-color: #f8f9fa;
}

.content-background {
  background-color: white;
  border: 2px solid #eceff0;
  min-height: 700px;
  padding:20px;
}

.navbar-default {
  background-color: white;
  border-bottom: 2px solid #d9e0e2;
}

.img-responsive {
  width: 100%;
}

.main-message {
  padding: 5px 0 20px 0;
  background: none;
}

.thumbnail-picture {
  padding:10px 8px 0 8px;
}

.thumbnail-title {
  padding:0;
}

.article-thumbnail-item {
  border: 1px solid rgba(217,224,226,0.4);
  height: auto;
}

#dropdown_all_channels {
  background-color: #ff3c1f;
  color:white;
  width: 100%;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.sidebar-button-group {
  margin: 10px auto;
}

.dropdown-icon {
  font-size: 25px;
}

#followbar {
  background-color: #2a3540;
  color: white;
}

.dropdown-menu-lg {
  width: 400px;
  background-color: #2a3540;
}

.dropdown-menu-lg > li > a {
  color: white;
  text-align: center;
  padding: 30px 10px;
}

.dropdown-menu-lg > li > a:hover {
  background-color: white;
}

.dropdown-menu-xs {
  width: 400px;
  display: inline-block;
  background-color: #2a3540;
}

.dropdown-menu-xs > li > a {
  color: white;
  text-align: center;
  padding: 30px 10px;
}

.channel-dropdown-menu {
  width: 285px;
}

.navbar-form {
  margin-right: 5px;
}

.navbar-left {
  position: absolute;
  left: 100px;
}

#navbar > .nav-items > li > a:hover {
  color: red;
  border-bottom: 2px solid red;
}

@media(max-width:767px) {
  .wrapping {
    padding-left: 0;
    padding-right: 0;
  }
}

@media(min-width:1200px) {
  .sidebar {
    width: 315.250px;
  }

  .main {
    margin-left: 315.250px;
    width: auto;
  }
}